@charset "UTF-8";
.footer {
  padding: 100px 50px 100px 60px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
}

.lmao {
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: black;
  letter-spacing: 12px;
}
.lmao a {
  font-size: 25px;
  color: black;
  letter-spacing: 12px;
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.lmao a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 93%;
  height: 0.1px;
  background-color: #000;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1); /* Начальное значение - полоска невидима */
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center; /* Определение точки преобразования */
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Анимация для transform */
}
.lmao a:hover::after {
  -webkit-transform: scaleX(1.15);
      -ms-transform: scaleX(1.15);
          transform: scaleX(1.15); /* При ховере раскрываем полоску */
}

@media screen and (max-width: 600px) {
  .lmao {
    font-size: 20px;
    line-height: 30px;
  }
  .lmao a {
    font-size: 20px;
  }
}
@media screen and (max-width: 506px) {
  .lmao {
    font-size: 16px;
    line-height: 25px;
  }
  .lmao a {
    font-size: 16px;
  }
}