@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 26px;
  color: #fff;
  background: url(../img/content/global-bg.png) 0 0/100% auto no-repeat fixed #636363;
}

a {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fff;
}

.container {
  position: relative;
}
.container__left {
  position: fixed;
  background: #ffc500;
  width: 5%;
  height: 100vh;
}
.container__right {
  position: relative;
  width: 95%;
  margin-left: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 2200px) {
  .container__left {
    width: 3%;
  }
  .container__right {
    width: 97%;
  }
}
@media screen and (max-width: 800px) {
  .container__left {
    width: 10%;
  }
  .container__right {
    width: 90%;
  }
}
@media screen and (max-width: 470px) {
  .container__left {
    width: 16%;
  }
  .container__right {
    width: 84%;
  }
}
@media only screen and (min-width: 1921px) {
  .content {
    padding-left: 100px;
  }
}
@media only screen and (min-width: 1334px) and (max-width: 1920px) {
  .content {
    padding-left: calc(15.33vw + -194px);
  }
}
@media only screen and (max-width: 1333px) {
  .content {
    padding-left: 0.750vw;
  }
}
@media only screen and (min-width: 1921px) {
  .content {
    padding-right: 100px;
  }
}
@media only screen and (min-width: 1334px) and (max-width: 1920px) {
  .content {
    padding-right: calc(15.33vw + -194px);
  }
}
@media only screen and (max-width: 1333px) {
  .content {
    padding-right: 0.750vw;
  }
}
.content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.content-body__left {
  position: relative;
  background: rgba(33, 33, 33, 0.7882352941);
}
.content-body__right {
  background: rgba(0, 0, 0, 0.2745098039);
}

.strong {
  font-weight: 700;
}