.footer {
    padding: 100px 50px 100px 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    margin-top: auto;
}
.lmao {
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: black;
    letter-spacing: 12px;

    & a {
        font-size: 25px;
        color: black;
        letter-spacing: 12px;
        display: inline-block;
        position: relative;
        transition: transform 0.3s ease;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 93%;
            height: 0.1px;
            background-color: #000;
            transform: scaleX(1); /* Начальное значение - полоска невидима */
            transform-origin: center; /* Определение точки преобразования */
            transition: transform 0.3s ease; /* Анимация для transform */
        }
    
        &:hover::after {
            transform: scaleX(1.15); /* При ховере раскрываем полоску */
          }
    }
}

@media screen and (max-width: 600px) {
    .lmao {
        font-size: 20px;
        line-height: 30px;
        & a {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 506px) {
    .lmao {
        font-size: 16px;
        line-height: 25px;
        & a {
            font-size: 16px;
        }
    }
}