.main-content-right {
  float: right;
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 270px;
  border: 0.5px solid white;
  margin-left: 20px;
  margin-bottom: 20px;

  &__title {
    text-align: center;
    padding: 20px;
    font-weight: 700;
    font-size: 20px;
    background: #000;
    border-bottom: 0.5px solid white;
  }

  &__image {
    width: 100%;
    height: 360px;
    margin-bottom: 20px;
    border-bottom: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    & img {
      width: 100%;
      transition: width 0.3s ease;

      &:hover {
        cursor: pointer;
        width: 110%;
      }
    }
  }

  &__info {
    padding: 0 10px 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px
  }
}

.main-content-right-info {



  &__left {
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: calc(100% + 10px);
      height: 0.1px;
      background: #fff;
    }

    &_last {
      margin-bottom: 0;
      &::after {
        height: 0;
      }
    }
  }


  &__right {
    position: relative;
    margin-bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 0.1px;
      background: #fff;
    }

    &:last-child {
      margin-bottom: 0;
      &::after {
        height: 0;
      }
    }

    &_blured {
      background: #b5b5b5;
      filter: blur(3px);
      width: 30%;
      height: 14px;

    & p {
      display: none;
    }

    }
  }

}